<!DOCTYPE html>

<html>
    <head>
        <title>Car and Property Rentals</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarAuto">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoAutos" id="autos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{auto.titulo}]]</h4>
                            </div>
                            <div th:if="${autos != null and !autos.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{auto.nombre}">Nombre</th>
                                            <th th:text="#{auto.modelo}">Modelo</th>
                                            <th th:text="#{auto.precio}" sec:authorize="hasRole('ROLE_ADMIN')">Precio</th>
                                            <th th:text="#{auto.existencias}">Existencias</th>
                                            <th th:text="#{auto.activo}" sec:authorize="hasRole('ROLE_ADMIN')">Estado</th>
                                            <th th:text="#{auto.imagen}">Imagen</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="auto, contador : ${autos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${auto.nombre}]]</td>
                                            <td>[[${auto.modelo}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${auto.precio}]]</td>
                                            <td>[[${auto.existencias}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${auto.activo}]]</td>
                                            <td><img th:src="${auto.imagen}" class="rounded mx-auto d-block" width="50" height="50"></td>

                                            <td class="text-end">[[${new java.text.DecimalFormat('$#,##0.00').format(auto.precio)}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/auto/eliminar/}+${auto.idAuto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/auto/modificar/}+${auto.idAuto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${autos == null or autos.empty}">
                                <span th:text="#{auto.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>
        </section>
        <section th:fragment="agregarAuto">
            <div id="agregarAuto" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Auto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/auto/guardar}" th:object="${auto}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{auto.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="modelo" th:text="#{auto.modelo}">Modelo</label>
                                    <input type="text" class="form-control" name="modelo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="precio" th:text="#{auto.precio}">Precio</label>
                                    <input type="number" class="form-control" name="precio" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="existencias" th:text="#{auto.existencias}">Existencias</label>
                                    <input type="number" class="form-control" name="existencias">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="activo" th:text="#{auto.activo}">Activo: </label>
                                    <input type="checkbox" class="form-check-input" id="activo">
                                </div>
                                <div class="form-group">
                                    <label for="imagen" th:text="#{auto.imagen}">Imagen</label>
                                    <input type="text" class="form-control" name="imagen" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="editarAuto">            
            <form method="POST"
                  th:action="@{/auto/guardar}"
                  th:object="${auto}"
                  class="was-validated">
                <input type="hidden" name="idAuto" th:field="*{idAuto}"/>
                <section th:replace="auto/fragmentosAuto :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{auto.nombre}">Nombre: </label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="modelo" th:text="#{auto.modelo}">Modelo: </label>
                                            <input type="text"  class="form-control" name="modelo" th:field="*{modelo}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="precio" th:text="#{auto.precio}">Precio: </label>
                                            <input type="number"  class="form-control" name="precio" th:field="*{precio}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="existencias" th:text="#{auto.existencias}">Existencias: </label>
                                            <input type="number"  class="form-control" name="existencias" th:field="*{existencias}"/>
                                        </div>   
                                        <div class="form-check">
                                            <label for="activo" th:text="#{auto.activo}">Activo: </label>
                                            <input type="checkbox" class="form-check-input" name="activo" th:field="*{activo}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="imagen" th:text="#{auto.imagen}">Imagen: </label>
                                            <input type="text" class="form-control" name="imagen" th:field="*{imagen}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/auto/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/auto/eliminar/}+${auto.idAuto}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
