<!DOCTYPE html>
<html>
    <head>
        <title>Car and Property Rentals</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCabana">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoCabanas" id="cabanas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cabana.titulo}]]</h4>
                            </div>
                            <div th:if="${cabanas != null and !cabanas.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{cabana.nombre}">Nombre</th>
                                            <th th:text="#{cabana.detalle}">Detalle</th>
                                            <th th:text="#{cabana.precio}" sec:authorize="hasRole('ROLE_ADMIN')" >Precio</th>
                                            <th th:text="#{cabana.existencias}">Existencias</th>
                                            <th th:text="#{cabana.activo}" sec:authorize="hasRole('ROLE_ADMIN')">Estado</th>
                                            <th th:text="#{cabana.imagen}">Imagen</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cabana, contador : ${cabanas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${cabana.nombre}]]</td>
                                            <td>[[${cabana.detalle}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${cabana.precio}]]</td>
                                            <td>[[${cabana.existencias}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">[[${cabana.activo}]]</td>
                                            <td><img th:src="${cabana.imagen}" class="rounded mx-auto d-block" width="50" height="50"></td>                       
                                            <td class="text-end">[[${new java.text.DecimalFormat('$#,##0.00').format(cabana.precio)}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cabana/eliminar/}+${cabana.idCabana}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cabana/modificar/}+${cabana.idCabana}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${cabanas == null or cabanas.empty}">
                                <span th:text="#{cabana.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>
        </section>
        <section th:fragment="agregarCabana">
            <div id="agregarCabana" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Cabana</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/cabana/guardar}" th:object="${cabana}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{cabana.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="detalle" th:text="#{cabana.detalle}">Detalle</label>
                                    <input type="text" class="form-control" name="detalle" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="precio" th:text="#{cabana.precio}">Precio</label>
                                    <input type="number" class="form-control" name="precio" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="existencia" th:text="#{cabana.existencias}">Existencias</label>
                                    <input type="number" class="form-control" name="existencia">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="activo" th:text="#{cabana.activo}">Activo: </label>
                                    <input type="checkbox" class="form-check-input" id="activo">
                                </div>
                                <div class="form-group">
                                    <label for="imagen" th:text="#{cabana.imagen}">Imagen</label>
                                    <input type="text" class="form-control" name="imagen" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="editarCabana">            
            <form method="POST"
                  th:action="@{/cabana/guardar}"
                  th:object="${cabana}"
                  class="was-validated">
                <input type="hidden" name="idCabana" th:field="*{idCabana}"/>
                <section th:replace="cabana/fragmentosCabana :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{cabana.nombre}">Nombre: </label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="detalle" th:text="#{cabana.detalle}">Detalle: </label>
                                            <input type="text"  class="form-control" name="detalle" th:field="*{detalle}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="precio" th:text="#{cabana.precio}">Precio: </label>
                                            <input type="number"  class="form-control" name="precio" th:field="*{precio}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="existencia" th:text="#{cabana.existencias}">Existencias: </label>
                                            <input type="number"  class="form-control" name="existencias" th:field="*{existencias}"/>
                                        </div>  
                                        <div class="form-check">
                                            <label for="activo" th:text="#{cabana.activo}">Activo: </label>
                                            <input type="checkbox" class="form-check-input" name="activo" th:field="*{activo}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="imagen" th:text="#{cabana.imagen}">Imagen: </label>
                                            <input type="text" class="form-control" name="imagen" th:field="*{imagen}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/cabana/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/cabana/eliminar/}+${cabana.idCabana}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
