<!DOCTYPE html>
<html>
    <head>
        <title>Formulario de Preguntas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="nav-link logo">Car and Property Rentals</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Sobre Nosotros</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="videos.html">Noticias</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="iframes.html">Contactanos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="form.html">Formulario</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <form action="#">
            <label>Ingrese su nombre: </label><input type="text" name="nombre" placeholderDigite su nombre" size="20"><br> 
            <label>Ingrese su correo electrónico: </label><input type="text" name="email" placeholder="Digite el correo"><br> 
            <label>Ingrese su número de télefono: </label><input type="tel" name="tel" placeholder="Digite el número"><br>
            <label>Descripción: </label><textarea id="Ejemplo" rows="10" cols="100"></textarea><br>
            <input type="reset" name="reset" value="Limpiar"><br>
            <input type="submit" name="Submit" value="Submit"><br>
            </label>
        </form>
    </body>
</html>
