<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Car and Property Rentals</title>
        <meta charset="UTF-8">
            <style>
                .contenido {
                    text-align: center;
                    border-radius: 20px;
                    top: 50%;
                    left: 50%;
                    margin-left: -200px;
                    margin-top: -125px;
                    width: 400px;
                    height: 250px;
                    background-color: grey;
                    position: fixed;
                    overflow: auto;
                }
            </style>
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">                   
                </div>
            </div>
        </section>
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{login.login}]]</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <label for="username">[[#{login.username}]]:</label>
                                            <input type="text" name="username" id="username"/>
                                        </div>
                                    </div>
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <label for="password">[[#{login.password}]]:</label>
                                            <input type="password" name="password" id="password"/>
                                        </div>
                                    </div>
                                    <div class="row  py-1 mb-2 bg-light">
                                        <button type="submit" class="btn btn-primary btn-block">[[#{login.login}]]</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="registro">
            <div id="registro" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Registro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/cliente/guardar}" th:object="${cliente}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{cliente.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="email" th:text="#{cliente.correo}">Correo</label>
                                    <input type="email" class="form-control" name="correo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{cliente.telefono}">Teléfono</label>
                                    <input type="tel" class="form-control" name="telefono">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
