<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Car and Property Rentals</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section id="contenido">
            
            <br>
                <article>
                        <h2 style="text-align:center;">Empoderar a las personas y fortalecer las comunidades a través de inversiones innovadoras</h2>
                <br>
                    <br>
                        <p style="text-align:center;">Car and Property Rentals es una empresa de inversión inmobiliaria dedicada a generar flujos de ingresos pasivos 
                            para los inversores.
                            <br>
                                Iniciada en 2022 por Juan Santamaría, Kevin Alvarado y David Casarola, la empresa con sede en San José se enfoca en
                                revitalizar vecindarios y automóviles en ciudades costarricenses
                                <br>
                                    donde el potencial es alto pero persisten los conceptos erróneos del público.
                                    <br>
                                        Hasta la fecha, Car and Property Rentals ha adquirido 1400 unidades en San José, 80 unidades en Limón y 42 en Guanacaste, y ha cambiado
                                        <br>
                                            con éxito la percepción y los paisajes mediante la creación de viviendas asequibles, asequibles y confiables para los residentes y el alquiler de 
                                            automóviles. </p>
                                            <h3 style="text-align:center;">Contactanos</h3></header>


                                            <p style="text-align:center;"> Numero de mantenimiento: 8377-5496 24/7
                                                <br>

                                                    Numero de la oficina: 8377-5497
                                                    <br>

                                                        Horas de trabajo: 7am-5pm</p>
                                                        <header><h2 style="text-align:center;">Ubicacion</h2></header>

                                                        <p style="text-align:center;"> Calle Araya,
                                                            <br>

                                                                Desamparados
                                                                <br>

                                                                    San Jose</p>
                                                        
                                                                    </article>
               


                                                                    </section>
         <img src="/images/SanJose.jpg" width=100% height=40% />


                                                                    <footer th:replace="layout/plantilla :: footer"/>
                                                                    </body>
                                                                    </html>
