<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Car and Property Rentals</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="listadoAcercaDe" id="acercaDes">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{acercaDe.detalle}]]</h4>
                            </div>
                            <div th:if="${acercaDes != null and !acercaDes.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{acercaDe.detalle}">Acerca De</th>
                                    <p>Car and Property Rentals es una empresa de inversión inmobiliaria dedicada a generar flujos de ingresos pasivos 
                                        para los inversores.
                                        <br>
                                        Iniciada en 2022 por Juan Santamaría, Kevin Alvarado y David Casarola, la empresa con sede en San José se enfoca en
                                        revitalizar vecindarios y acercaDemóviles en ciudades costarricenses
                                        <br>
                                        donde el potencial es alto pero persisten los conceptos erróneos del público.
                                        <br>
                                        Hasta la fecha, Car and Property Rentals ha adquirido 1400 unidades en San José, 80 unidades en Limón y 42 en Guanacaste, y ha cambiado
                                        <br>
                                        con éxito la percepción y los paisajes mediante la creación de viviendas asequibles, asequibles y confiables para los residentes y el alquiler de 
                                        acercaDemóviles.</p>

                                    </tr>
                                    </thead>
                                    <section th:fragment="editarAcercaDe">            
                                        <form method="POST"
                                              th:action="@{/acercaDe/guardar}"
                                              th:object="${acercaDe}"
                                              class="was-validated">
                                            <input type="hidden" name="idAcercaDe" th:field="*{idAcercaDe}"/>
                                            <section th:replace="acercaDe/fragmentosAcercaDe :: botonesEditar"/> 
                                            <div id="details">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4>[[#{accion.actualizar}]]</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="nombre" th:text="#{acercaDe.nombre}">Nombre: </label>
                                                                        <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="modelo" th:text="#{acercaDe.modelo}">Modelo: </label>
                                                                        <input type="text"  class="form-control" name="modelo" th:field="*{modelo}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="precio" th:text="#{acercaDe.precio}">Precio: </label>
                                                                        <input type="number"  class="form-control" name="precio" th:field="*{precio}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="existencia" th:text="#{acercaDe.existencia}">Existencias: </label>
                                                                        <input type="number"  class="form-control" name="existencia" th:field="*{existencia}"/>
                                                                    </div>                      
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </section>
                                    <section th:fragment="botonesEditar">
                                        <div id="actions" class="py-4 mb-4 bg-light">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <a th:href="@{/acercaDe/listado}" class="btn btn-ligth btn-block">
                                                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn btn-success btn-block">
                                                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a th:href="@{/acercaDe/eliminar/}+${acercaDe.idAcercaDe}"
                                                           class="btn btn-danger btn-block">
                                                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    </body>
                                    </html>
