<!DOCTYPE html>
<html xmlns:sec="http://thymeleaf/org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Car and Property Rentals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="acercaDe/fragmentosAcercaDe :: botonesAgregar"/>
        <section th:replace="acercaDe/fragmentosAcercaDe :: agregarAcercaDe"/>
        <section th:replace="acercaDe/fragmentosAcercaDe :: listadoAcercaDes"/>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
